*
{
    font-family: 'Times New Roman', Times, serif;
}
body
{
    font-size: 22px;
    background-color: white;
    border: 3px solid;
}

p{
    color: purple;
    border: 3px solid;

}

.gray
{
    color: #8400ff;
    border: 3px solid;

}

#p1,#p2,#p3
{
    font-weight: 300;
    font-style: initial;
    display: flexbox;
    position: relative;
    border: 3px solid;

}

h3,h2
{
    color: rgba(4, 0, 255, 0.575);
    border: 3px solid;

}


